<link rel="stylesheet" href="kanua.css">
<script type="text/template" id="charlaList">
    <!-- Esta parte pone la malla de charla -->
    <input type="text"  id="tagCharlabusqueda" name="busca" placeholder="tag1;tag2" value=""/>
    <button onclick="Backbone.trigger('buscarCharlaPorTag',{}); return false" type="button" class="btn btn-info">Busca</button>

    <div class="row" style="height: 990px; overflow-y: scroll;">
        <% _.each(charlas, function(charla) { %>
            <div id="celda-charla-<%= charla.id %>" class="col-xs-1 celda-charla">
            <!-- Aca se ponen las imagenes y nombres las cuales mandan un evento si se les hace click -->
            <div  class="nombre-charla">
                       <%= htmlEncode(charla.getDisplay('name')) %>
            </div>
               <table>
                <tr>
                 
                    <th style="padding:8px;">
                       
                        <img  class="imagen-charla" src="<%= htmlEncode(charla.getDisplay('imagen')) %>"/>
                        <div  class="fecha-charla">
                            <span class="fecha-charla-titulo">Fecha: </span>
                            <%= htmlEncode(charla.getDisplay('fechaEvento')) %>
                        </div>
                    </th>
                    <th class="descripcion-charla">
                        <div >
                            <div class="fecha-charla-titulo">Descripcionista: </div>
                            
                            <div style="height: 280px; overflow-y: scroll;">
                            <%= htmlEncode(charla.getDisplay('informacion')) %>
                            </div>
                        </div>
                    </th>
                </tr>
            </table>
                <center>
                    <% if(showEdit) {%>
                        <a class="btn btn-primary" onclick="Backbone.trigger('<%= componentId %>-charla-edit',{id:<%= charla.id %>}); return false" >Editar</a>
                    <% } %> 
                    <% if(showDelete) {%>
                        <a class="btn btn-primary" onclick="Backbone.trigger('<%= componentId %>-charla-delete',{id:<%= charla.id %>}); return false" >Eliminar</a> 
                    <% } %> 
                        <a class="btn btn-primary" onclick="Backbone.trigger('<%= componentId %>-charla-delete',{id:<%= charla.id %>}); return false" >Información</a>
                    
                </center>
            </div>
        <% }); %>
    
    </div>
    
 
</script>

<script type="text/template" id="charla">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-charlaForm">
    <% if(charla.id) {%>
    <input type="hidden" name="id" value="<%= charla.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= charla.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="titulo">Titulo</label>
    	<input type="text" class="form-control" id="titulo" name="titulo" placeholder="Enter value" value="<%= charla.get('titulo') %>"/>	
		</div>
		<div class="form-group" >
		<label for="informacion">Informacion</label>
    	<input type="text" class="form-control" id="informacion" name="informacion" placeholder="Enter value" value="<%= charla.get('informacion') %>"/>	
		</div>
		<div class="form-group" >
		<label for="link">Link</label>
    	<input type="text" class="form-control" id="link" name="link" placeholder="Enter value" value="<%= charla.get('link') %>"/>	
		</div>
		<div class="form-group" >
			<label for="fechaEvento">Fecha Evento</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaEvento"  name="fechaEvento" placeholder="Enter value" />
    		<%= '<scr'+'ipt>' %>
        	$('#fechaEvento').datepicker({autoclose:true});
        	$('#fechaEvento').datepicker('setDate',App.Utils.Converter.date.toDate("<%= charla.get('fechaEvento') %>"));
    		<%= '</scr'+'ipt>' %>
		</div>
		<div class="form-group" >
		<label for="imagen">Imagen</label>
    	<input type="text" class="form-control" id="imagen" name="imagen" placeholder="Enter value" value="<%= charla.get('imagen') %>"/>	
		</div>
		<div class="form-group" >
			<label for="publicacion">Publicacion</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="publicacion"  name="publicacion" placeholder="Enter value" />
    		<%= '<scr'+'ipt>' %>
        	$('#publicacion').datepicker({autoclose:true});
        	$('#publicacion').datepicker('setDate',App.Utils.Converter.date.toDate("<%= charla.get('publicacion') %>"));
    		<%= '</scr'+'ipt>' %>
		</div>
    </form>
    </div>
</script> 