<link rel="stylesheet" href="kanua.css">
<script type="text/template" id="noticiaList">
    <input type="text"  id="titulobusquedaNoticia" name="buscaNoticia" id="tagNoticiabusqueda" placeholder="titulo;titulo2" value=""/>
    <button onclick="Backbone.trigger('buscarNoticiasPorTitulo',{}); return false" type="button" class="btn btn-info">Busca</button>

     <div class="row" style="height: 990px; overflow-y: scroll;">
        <% _.each(noticias, function(noticia) { %>
            <div id="celda-noticia-<%= noticia.id %>" class="col-xs-1 celda-noticia">
            <div  class="nombre-charla">
                       <%= htmlEncode(noticia.getDisplay('name')) %>
            </div>
               <table>
                <tr>
                 
                    <th style="padding:8px;">
                       
                        <img  class="imagen-noticia" src="<%= htmlEncode(noticia.getDisplay('imagen')) %>"/>
                        <div  class="fecha-charla">
                            <span class="fecha-charla-titulo">Fecha: </span>
                            <%= htmlEncode(noticia.getDisplay('fecha')) %>
                        </div>
                    </th>
                    <th class="descripcion-charla">
                        <div >
                            <div class="fecha-charla-titulo">Descripcion: </div>
                            <div style="height: 260px; overflow-y: scroll;">
                            <%= htmlEncode(noticia.getDisplay('descripcion')) %>
                            </div>
                        </div>
                    </th>
                </tr>
                
            </table>
                <center>
                    <% if(showEdit) {%>
                        <a class="btn btn-primary" onclick="Backbone.trigger('<%= componentId %>-noticia-edit',{id:<%= noticia.id %>}); return false" >Editar</a>
                    <% } %> 
                    <% if(showDelete) {%>
                        <a class="btn btn-primary" onclick="Backbone.trigger('<%= componentId %>-noticia-delete',{id:<%= noticia.id %>}); return false" >Eliminar</a> 
                    <% } %>  
                </center>
            </div>
        <% }); %>
    </div>
 </script>
 
 
 
<script type="text/template" id="noticia">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-noticiaForm">
    <% if(noticia.id) {%>
    <input type="hidden" name="id" value="<%= noticia.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= noticia.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="imagen">Imagen</label>
    	<input type="text" class="form-control" id="imagen" name="imagen" placeholder="Enter value" value="<%= noticia.get('imagen') %>"/>	
		</div>
		<div class="form-group" >
		<label for="titulo">Titulo</label>
    	<input type="text" class="form-control" id="titulo" name="titulo" placeholder="Enter value" value="<%= noticia.get('titulo') %>"/>	
		</div>
		<div class="form-group" >
			<label for="fecha">Fecha</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fecha"  name="fecha" placeholder="Enter value" />
    		<%= '<scr'+'ipt>' %>
        	$('#fecha').datepicker({autoclose:true});
        	$('#fecha').datepicker('setDate',App.Utils.Converter.date.toDate("<%= noticia.get('fecha') %>"));
    		<%= '</scr'+'ipt>' %>
		</div>
		<div class="form-group" >
		<label for="descripcion">Descripcion</label>
    	<input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Enter value" value="<%= noticia.get('descripcion') %>"/>	
		</div>
		<div class="form-group" >
		<label for="tema">Tema</label>
    	<input type="text" class="form-control" id="tema" name="tema" placeholder="Enter value" value="<%= noticia.get('tema') %>"/>	
		</div>
    </form>
    </div>
</script> 

<script type="text/template" id="mostrar-noticia" >
    
   <table width="100%">
        <tr>
            <td width="100%" colspan="2">
                <div class="nombre-noticia-info"><%= noticia.get('name') %></div>
            </td>
        </tr>
        <tr>
            <td width="100%" colspan="2">
                <div class="imagen-noticia-info"><%= noticia.get('imagen') %></div>
            </td>
        </tr>
        <tr>
            <td width="100%" colspan="2">
                <div>Descripcion</div>
                <div class="descripcion-noticia-info"><%= noticia.get('descripcion') %></div>
            </td>
        </tr>
        <tr>
            <td width="100%" colspan="2">
                <div>Cuando</div>
                <div class="fecha-noticia-info"><%= noticia.get('fecha') %></div>
            </td>
        </tr>
    </table>
</script>   