<link rel="stylesheet" href="kanua.css">
<script type="text/template" id="tallerList">
    <!-- Esta parte pone la malla de taller -->
    <input type="text"  id="tagbusquedaTaller" name="buscaTaller" placeholder="tag" value=""/>
    <button onclick="Backbone.trigger('buscarTallersPorTag',{}); return false" type="button" id="tagTallerbusqueda" class="btn btn-info">Busca</button>

    <div class="row" style="height: 990px; overflow-y: scroll;">
        <% _.each(tallers, function(taller) { %>
            <div id="celda-taller-<%= taller.id %>" class="col-xs-1 celda-charla">
            <!-- Aca se ponen las imagenes y nombres las cuales mandan un evento si se les hace click -->
            <div  class="nombre-charla">
                       <%= htmlEncode(taller.getDisplay('name')) %>
            </div>
               <table>
                
                <tr>
                 
                    <th style="padding:8px;">
                       
                        <img  class="imagen-charla" src="<%= htmlEncode(taller.getDisplay('imagen')) %>"/>
                        <div  class="fecha-charla">
                            <span class="fecha-charla-titulo">Fecha: </span>
                            <%= htmlEncode(taller.getDisplay('fechaEvento')) %>
                        </div>
                    </th>
                    <th class="descripcion-charla">
                        <div >
                            <div class="fecha-charla-titulo">Descripcion: </div>
                            <div style="height: 280px; overflow-y: scroll;">
                            <%= htmlEncode(taller.getDisplay('informacion')) %>
                            </div>
                        </div>
                    </th>
                </tr>
                <tr>
                <th>
                    <button onclick="Backbone.trigger('<%= componentId %>-inscribirse',{id:<%= taller.id %>}); return false" type="button" class="btn btn-info">Inscribirse</button>
                </th>
                </tr> 
               
       
            </table>
                <center>
                    <% if(showEdit) {%>
                        <a class="btn btn-primary" onclick="Backbone.trigger('<%= componentId %>-taller-edit',{id:<%= taller.id %>}); return false" >Editar</a>
                    <% } %> 
                    <% if(showDelete) {%>
                        <a class="btn btn-primary" onclick="Backbone.trigger('<%= componentId %>-taller-delete',{id:<%= taller.id %>}); return false" >Eliminar</a> 
                    <% } %>  
                </center>
            </div>
        <% }); %>
    </div>
   
    
 
</script>
<script type="text/template" id="taller">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-tallerForm">
    <% if(taller.id) {%>
    <input type="hidden" name="id" value="<%= taller.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= taller.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="informacion">Informacion</label>
    	<input type="text" class="form-control" id="informacion" name="informacion" placeholder="Enter value" value="<%= taller.get('informacion') %>"/>	
		</div>
		<div class="form-group" >
		<label for="imagen">Imagen</label>
    	<input type="text" class="form-control" id="imagen" name="imagen" placeholder="Enter value" value="<%= taller.get('imagen') %>"/>	
		</div>
		<div class="form-group" >
		<label for="titulo">Titulo</label>
    	<input type="text" class="form-control" id="titulo" name="titulo" placeholder="Enter value" value="<%= taller.get('titulo') %>"/>	
		</div>
		<div class="form-group" >
		<label for="tema">Tema</label>
    	<input type="text" class="form-control" id="tema" name="tema" placeholder="Enter value" value="<%= taller.get('tema') %>"/>	
		</div>
		<div class="form-group" >
			<label for="fechaEvento">Fecha Evento</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fechaEvento"  name="fechaEvento" placeholder="Enter value" />
    		<%= '<scr'+'ipt>' %>
        	$('#fechaEvento').datepicker({autoclose:true});
        	$('#fechaEvento').datepicker('setDate',App.Utils.Converter.date.toDate("<%= taller.get('fechaEvento') %>"));
    		<%= '</scr'+'ipt>' %>
		</div>
		<div class="form-group" >
			<label for="publicacion">Publicacion</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="publicacion"  name="publicacion" placeholder="Enter value" />
    		<%= '<scr'+'ipt>' %>
        	$('#publicacion').datepicker({autoclose:true});
        	$('#publicacion').datepicker('setDate',App.Utils.Converter.date.toDate("<%= taller.get('publicacion') %>"));
    		<%= '</scr'+'ipt>' %>
		</div>
    </form>
    </div>
</script>

<script type="text/template" id="realizar-inscripcion">
    
    <div  class="nombre-charla">
        Incripci&oacuten <%= htmlEncode(taller.getDisplay('name')) %>
    </div>
    
    <div align="center" class="nombre-proyecto-info"> Inscripci&oacuten </div>
    <br>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Registration Form</title>
        <link rel="stylesheet" href="style3.css">
    </head>
    <body>
      <form>
	<input name="name" id = "nombre_contacto" placeholder="Nombre:" class="name" required />
        <input name="last_name" id = "apellido_contacto" placeholder="Apellido:" class="name" required />
	<input name="emai_laddress" id = "email_contacto" placeholder="Correo uniandes:" class="email" required />
        <button onclick="Backbone.trigger('realizarInscripcion',{id:<%= taller.id %>}); return false" type="button" class="btn btn-info">Enviar</button>
       </form>
    </body>
</script>